<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your post</title>
</head>
<body>
    <h1>Edit Your Post</h1>
    <h3>Post ID : <%=post.id%></h3>
    <h4>Post Username : @<%=post.username%></h4>
    <form method="post" action="/post/<%=post.id%>?_method=PATCH">
        <textarea name="content" rows="10" cols="30" ><%=post.content%></textarea>
        <button>Submit</button>
    </form>
</body>

</html>